%% -*- erlang -*-
%% Config file for canopen application
{deps_dir, ["deps"]}.
{deps,
 [
  {can, ".*", {git, "git@github.com:tolbrino/can.git", {branch, "integr"}}},
  {ale, ".*", {git, "git@github.com:tolbrino/ale.git", {branch, "integr"}}}
 ]}.
{erl_first_files, ["co_app", "co_stream_app", "co_tpdo_app"]}. %% Behaviours
{erl_opts, [debug_info, fail_on_warning]}.
{sub_dirs, ["src"]}.
{ct_extra_params, " -ct_config test/co_test.cfg"}.
